// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:300,600');
//Variables Globales
$cssCore: false;
$cssHelpers: false;
$devMode: false;

@import "ed-grid/ed-grid";
@import "easy/easy";


body {
  font-family: 'Open Sans', sans-serif;
}
