//Variables Específicas
$bp-menu: l;

//Variables de Fuentes Open Sans
$fNormalO: 400;
$fSemiBoldO: 600;
$fBoldO: 700;

//Variables de Fuentes Oswald
$fLightOs: 300;
$fSemiBoldOs: 600;

//Colores
$white: #fff;
$black: #000;
$primary: #006AA3;
$primary-hover: #004E79;
$secondary: #00E0F9;
$gris: #CECECE;

@import "componentes/top";
@import "componentes/banner";
@import "componentes/paraEstudiantes";
